@use "global" as *;

.campaign-layout {
    overflow: hidden;
    position: relative;
    margin-top: rem(40);
    @include mq("md") {
        margin-top: rem(100);
    }
}

.campaign__inner {
    position: relative;
}

.campaign__container {
    position: relative;
    background-color: $white;
    margin-top: rem(40);
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
    width: 100vw;
    height: auto;
}

.campaign__swiper {
    padding-right: rem(16);
    padding-bottom: rem(11);
    display: flex;
    justify-content: center;
    align-items: center;
}

.campaign__title {
    position: relative;
}


.campaign__container-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem(16);
    height: 100%;
    background-color: $white;
    border: 1px solid $gold;
    @include mq("md") {
        padding-top: rem(24);
        padding-right: rem(16);
        padding-left: rem(16);
        padding-bottom: rem(40);
    }
}

.campaign__slide {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: rem(296);
    z-index: 10;
    @include mq("md") {
        width: rem(333);
    }
}

.campaign__slide::before {
    content: "";
    position: absolute;
    background-color: $beige;
    right: rem(-16);
    bottom: rem(-22);
    top: rem(10);
    left: rem(9);
    z-index: -1;
    @include mq("md") {
        left: rem(15);
    }
}


.campaign__slide img {
    min-height: auto;
    height: auto;
    width: 100%;
    aspect-ratio: 296 / 188;
    object-fit: cover;
    border: 1px solid $gold;
    @include mq("md") {
        aspect-ratio: 333 / 223;
    }
  }

  .campaign__button-container {
    display: none;
    @include mq("md") {
        display: block;
        position: relative;
        right: -65%;
        top: rem(-710);
        width: rem(240);
    }
}

.campaign__button-next,
.campaign__button-prev {
    @include mq("md") {
        display: flex;
        position: relative;
    }
}

.campaign__button-next {
    @include mq("md") {
        top: 41%;
        left: 91%;
        transform: rotate(-40deg);
    }
}

.campaign__button-prev {
    @include mq("md") {
        top: 45%;
        left: 5%;
        transform:scale(1,1) rotate(133deg);
    }
}

.campaign__text-box {
    padding-bottom: rem(8);
}

.campaign__money {
    margin-top: rem(8);
}

.campaign__text-box-plan{
    margin-top: rem(4);
}

.campaign__text-box-plan,
.campaign__text-box-content {
   color: $deep-brown;
   font-family: $base-font-family;
   font-weight: $medium;
}

.campaign__text-box-content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}


.campaign__money {
    margin-top: rem(8);
    text-align: center;
    font-weight: $regular;
    @include mq("md") {
        margin-top: rem(16);
    }
}

.campaign__money-title {
    color: $deep-brown;
    font-family: $base-font-family;
    font-weight: $regular;
}

.campaign__fee {
    display: flex;
    gap: rem(57.6);
    margin-top: rem(8);
    align-items: center;
    justify-content: center;
}

.campaign__discount {
    position: relative;
    font-size: rem(20);
    color: $gold-muted;
    padding-top: rem(11);
    font-family: $Noto-Serif-JP;
    font-weight: $bold;
    line-height: 1;
    @include mq("md") {
        padding-top: rem(16);
        font-size: rem(24);
    }
}

.campaign__discount::after {
    position: absolute;
    content: url(../images/common/Vector-gord.svg);
    width: rem(40);
    right: rem(-48);
    top: rem(2);
    @include mq("md") {
        right: rem(-48);
        top: rem(8);
    }
}

.campaign__discount-line {
    position: relative;
}

.campaign__discount-line::after {
    content: "";
    transform: rotate(7deg);
    width: 100%;
    border-top: 0.8px solid $accent-red;
    position: absolute;
    top: 50%;
    left: 0;
}


.campaign__main {
    font-size: rem(32);
    line-height: 1.25;
    font-family: $Noto-Serif-JP;
    font-weight: $bold;
    color: $gold;
    @include mq("md") {
        font-size: rem(40);
        line-height: 1;
    }
}

.campaign__main-yen {
    font-size: rem(27);
    line-height: 1.481;
    @include mq("md") {
        font-size: rem(30);
        line-height: 1.333;
    }
}

.campaign__arrow {
    width: rem(32);
    @include mq("md") {
        width: rem(40);
    }
}

.campaign__arrow img {
    display: block;
    @include mq("md") {
        width: rem(40);
    }
}

.campaign__button  {
    margin-top: rem(28);
    text-align: center;
    padding-bottom: rem(10);
    @include mq("md") {
        margin-top: rem(80);
        text-align: center;
    }
}

