@use "global" as *;

.mv {
    width: 100%;
    height: 100vh;
    min-height: rem(400);
  }

.mv__inner {
  position: relative;
  height: inherit;
  min-height: inherit;
}


.mv__slider,
.mv__slider img {
  position: relative;
    min-height: inherit;
    height: inherit;
  }

.mv__wrapper,
.mv__slide,
.mv__slide img {
  min-height: inherit;
  height: inherit;
  object-fit: cover;
}


  .mv__title {
    position: absolute;
    text-align: center;
    z-index: 10;
    font-weight: $regular;
    color: $white;
    top: 77.5%;
    right: calc(50% - min(48vw, 10rem));
    width: 100%;
    @include mq("md") {
      right: calc(50% - min(48vw, 24rem));
      top: 68%;
    }
  }
  
  .mv__title-main {
    font-family: $Noto-Serif-JP;
    font-size: rem(37);
    line-height: 1.189;
    letter-spacing: 0.35em;
    font-weight: $regular;
    white-space: pre-line;
    @include mq("md") {
      width: 100%;
      font-size: rem(80);
      line-height: 1.2;
    }
}


.mv-lower {
  position: relative;
  height: rem(416);
  min-height: rem(400);
  @include mq("md") {
    height: rem(516);
  }
}

.mv-lower--mask::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(64, 143, 149, 0.3);
    pointer-events: none;
    z-index: 1;
  }


.mv-lower__inner {
  position: relative;
  height: inherit;
  min-height: inherit;
}

.mv-lower__title {
  position: absolute;
  z-index: 10;
  font-weight: $regular;
  color: $white;
  transform: translate(-50%, 50%);
  top: 35%;
  left: 50%;
  width: 100%;
  text-align: center;
  @include mq("md") {
    top: 41%;
    left: 50%;
  }
}

.mv-lower__title-main {
  font-family: $Noto-Serif-JP;
  font-size: rem(36.8);
  line-height: 1.2;
  font-weight: $regular;
  @include mq("md") {
    width: 100%;
    font-size: rem(70.4);
    line-height: 1.25;
  }
}

.mv-lower__inner {
  position: relative;
  height: inherit;
  min-height: inherit;
}

.mv-lower__img {
height: inherit;
}

.mv-lower__img img {
width: 100%;
height: 100%;
object-fit: cover;
}