@use "global" as *;

.thanks-page-layout {
    position: relative;
        margin-top: rem(52);
        padding-bottom: rem(50);
        @include mq("md") {
            padding-bottom: rem(150);
            margin-top: rem(150);
        }
}