@use "global" as *;

.cycle-button {
    position: fixed;
    width: rem(45);
    height: rem(45);
    border: 1px solid $gold;
    border-radius: 50%;
    left: auto;
    top: auto;
    right: 4%;
    bottom: 2%;
    z-index: 5000;
    cursor: pointer;
    @include mq("md") {
        width: rem(80);
        height: rem(80);
    }
}

.cycle-button::before {
    position: absolute;
    border-right: 1px solid $gold;
    border-top: 1px solid $gold;
    content: "";
    height: rem(12.8);
    width: rem(12.8);
    left: 50%;
    top: 57%;
    transform: translate(-50%, -50%) rotate(-45deg);
    @include mq("md") {
        height: rem(23);
        width: rem(23);
    }
  }
