@use "global" as *;

.title,
.title-lower {
    color: $deep-brown;
    text-align: center;
}

.title__main::first-letter {
    color: $gold-muted;
}

.title__main {
    font-size: rem(32);
    font-family: $Noto-Serif-JP;
    font-weight: $medium;
    display: block;
    @include mq("md") {
        font-size: rem(40);
        line-height: 1;
    }
}

.title-lower__main {
    font-family: $Noto-Serif-JP;
    font-size: rem(32);
    line-height: 1.406;
    color: $deep-brown;
    font-weight: $regular;
    text-align: center;
    @include mq("md") {
        font-size: rem(40);
        line-height: 1;
}
}

.title__sub {
    display: block;
    font-size: rem(12);
    margin-top: rem(4);
    line-height: 1.5;
    font-family: $base-font-family;
    font-weight: $regular;
    text-align: center;
    color: $gold;
    @include mq("md") {
        margin-top: rem(8);
    }
}

.title__main.title__main--big {
    font-size: rem(80);
    line-height: 1;
    color: $white;
}

.title__sub.title__sub--big {
    color: $white;
}

